annotated-doc==0.0.4
anyio==4.12.1
archspec==0.2.5
argcomplete==3.6.3
attrs==25.4.0
beautifulsoup4==4.14.3
beets==2.6.1
bleak==2.1.1
blinker==1.9.0
blivet==3.12.1
boltons==25.0.0
Brlapi==0.8.7
build==1.4.2
CacheControl==0.14.4
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.5
cleo==2.1.0
click==8.3.1
cockpit @ file:///builddir/build/BUILD/cockpit-359-build/cockpit-359/tmp/wheel/cockpit-359-py3-none-any.whl#sha256=420f250128cc984f49f32bdb6a6fe5f08dc260ce31e80473cc2421bae43f76fd
conda==25.11.0
conda-libmamba-solver==25.4.0
conda-package-handling==2.4.0
conda_package_streaming==0.11.0
confuse==2.1.0
crashtest==0.4.1
crypt_r==3.13.1
cryptography==46.0.7
cupshelpers==1.0
dasbus==1.7
dbus-fast==4.0.0
dbus-python==1.4.0
dbus_next==0.2.3
distlib==0.4.0
distro==1.9.0
dnf==4.24.0
docopt==0.6.2
dulwich==1.1.0
fastjsonschema==2.21.2
fedora-third-party==0.10
file-magic==0.4.0
filelock==3.25.2
filetype==1.2.0
findpython==0.7.1
Flask==3.1.3
frozendict==2.4.6
gunicorn==23.0.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
humanize==4.13.0
idna==3.11
installer==0.7.0
iso639==0.1.4
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.1.2
jaraco.functools==4.4.0
jeepney==0.9.0
jellyfish==0.9.0
Jinja2==3.1.6
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
keyring==25.7.0
langtable==0.0.69
lap==0.5.12
libcomps==0.1.23
libdnf==0.75.0
libdnf5==5.2.18.0
libmambapy==2.3.2
louis==3.33.0
lxml==6.0.1
markdown-it-py==4.0.0
MarkupSafe==3.0.3
mdurl==0.1.2
mediafile==0.13.0
menuinst==2.3.1
more-itertools==11.0.1
msgpack==1.1.2
mutagen==1.47.0
nftables==0.1
numpy==2.3.5
olefile==0.47
packaging==25.0
pbs-installer==2026.3.25
perf==0.1
pexpect==4.9.0
pid==3.0.4
pillow==11.3.0
pipreqs==0.4.13
pkginfo==1.12.1.2
platformdirs==4.9.4
pluggy==1.6.0
ply==3.11
poetry==2.3.3
poetry-core==2.3.2
productmd==1.50
progressbar2==4.5.0
psutil==7.0.0
ptyprocess==0.7.0
pwquality==1.4.5
PyAudio==0.2.13
pycairo==1.28.0
pycosat==0.6.6
pycparser==2.22
pycups==2.0.4
pyenchant==3.2.2
Pygments==2.20.0
PyGObject==3.54.5
pyinotify==0.9.6
pykickstart @ file:///builddir/build/BUILD/pykickstart-3.66-build/pykickstart-3.66
pyparted==3.13.0
pyproject_hooks==1.2.0
pyrate-limiter==2.10.0
PySocks==1.7.1
python-augeas==1.2.0
python-dateutil==2.9.0.post0
python-discovery==1.2.2
python-linux-procfs==0.7.3
python-meh==0.52
python-pam==2.0.2
python-utils==3.9.1
pyudev==0.24.3
pyxdg==0.28
PyYAML==6.0.2
RapidFuzz==3.12.2
reactivex==4.1.0
referencing==0.36.2
regex==2026.2.28
requests==2.32.5
requests-file==2.0.0
requests-ftp==0.3.1
requests-ratelimiter==0.8.0
requests-toolbelt==1.0.0
rich==14.3.3
rpds-py==0.27.0
rpm==6.0.1
rpmautospec==0.8.4
rpmautospec-core==0.1.5
ruamel.yaml==0.18.16
ruamel.yaml.clib==0.2.12
ruuvitag_sensor==4.0.0
SecretStorage==3.5.0
selinux @ file:///builddir/build/BUILD/libselinux-3.9-build/libselinux-3.9/src
sepolicy @ file:///builddir/build/BUILD/policycoreutils-3.9-build/selinux-3.9/python/sepolicy
setools==4.6.0
setuptools==78.1.1
shellingham==1.5.4
simpleline==1.9.0
six==1.17.0
sniffio==1.3.1
sos==4.11.0
soupsieve==2.8
systemd-python==235
tomlkit==0.14.0
tqdm==4.67.2
trove-classifiers==2026.1.14.14
typer==0.24.1
typing_extensions==4.15.0
Unidecode==1.4.0
urllib3==2.6.3
virtualenv==21.2.0
Werkzeug==3.1.6
xkbregistry==0.3
yarg==0.1.10
zstandard==0.25.0
